footer
	.container
		ul.list-unstyled
			li.nav-item
				a(href="#") facebook
			li.nav-item
				a(href="#") google
			li.nav-item
				a(href="#") youtube
			li.nav-item
				a(href="#") twitter
			li.nav-item
				a(href="#") instagram
